.btn-brand{
  background-image: linear-gradient(75deg, #18D2B1 , #0FCFEB);
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 10px;
  color: white;
  border:none;
}
.text-brand{
  color:#1cc7c1;
}